 @import "tailwindcss";

 .bg-color{
    background-color: rgba(46, 2, 38, 0.137);
 }
 .bg-color-phone{
    background-color: rgba(224, 152, 211, 0.137);
 }
 .bg-links{
    background-color: rgba(255, 255, 255, 0.137);
 }
 .bg-mirror{
    background-color: #07000667;
 }