 @import "tailwindcss";

 .color{
   background: linear-gradient(
    to bottom,
    rgba(14, 0, 12, 0.555) 20%,       /* orange starts at top */
    rgba(15, 0, 14, 0.384) 40%,      /* yellow at 50% height */
    rgba(20, 0, 16, 0.897) 100%         /* red at bottom */
  );
 }
  
 .bg-links{
    background-color: rgba(255, 255, 255, 0.137);
 }
 .bg-mirror{
    background-color: #07000667;
 }

  